:root {
  font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  min-width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

html,
button,
input,
select,
textarea {
  font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

*,
:after,
:before,
legend,
td,
th {
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-size: 14px;
  color: #333;
}

div {
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input,
textarea {
  padding: 0;
  outline: 0;
  resize: none;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: transparent;
}

/* 체크박스를 보이게 설정 */
input[type="checkbox"] {
  appearance: auto;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}
svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

/* 체크박스 커스텀 스타일 적용 */
input[type="checkbox"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(209 213 219);
  border-radius: 3px;
  background-color: #fff;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

/* 체크된 상태 스타일 */
input[type="checkbox"]:checked::before {
  font-size: 12px;
  color: #333;
  background-color: #fff;
}

/* 체크박스와 라벨 간 여백 조정 */
input[type="checkbox"] + label {
  margin-left: 8px;
}
dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
dt {
  display: block;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
.app.has_tab[data-v-1d0b532e] {
  padding-top: 130px;
}

.app[data-v-1d0b532e] {
  position: relative;
  padding-top: 86px;
  overflow-anchor: none;
}
.category {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.categoryList:focus,
.categoryList:active {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: black;
}
.header[data-v-33d79d7a] > :not(.portal_target) {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.header.fixed[data-v-33d79d7a] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header_top {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.top_inner {
  padding: 8px 40px 0;
  height: 22px;
}
.header_top .top_item + .top_item[data-v-33d79d7a] {
  margin-left: 24px;
}
.top_list {
  align-items: center;
  margin-left: auto;
}
.top_link {
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: -0.06px;
  color: rgba(34, 34, 34, 0.8);
}
.main_inner {
  padding: 20px 40px;
  height: 64px;
  min-width: 320px;
  align-items: center;
  justify-content: space-between;
}
.main_inner.right {
  min-width: 120px;
  flex-shrink: 0;
  justify-content: flex-end;
}

.logo {
  width: 120px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
}
.gnb_area[data-v-6e10f65a],
.gnb_list[data-v-6e10f65a] {
  display: flex;
  align-items: center;
}

.gnb_item {
  margin-right: 40px;
}

.gnb_item .gnb_link.active[data-v-24a540ed] {
  font-weight: 700;
}
.gnb_item .gnb_link[data-v-24a540ed] {
  position: relative;
  display: flex;
  font-size: 18px;
  letter-spacing: -0.27px;
}

.lg .ul_tab.inline[data-v-4b28b31a] {
  padding-left: 40px;
  padding-right: 40px;
}
.lg .home_tabs[data-v-5fe0be77] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.ul_tab.inline[data-v-4b28b31a] {
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
}
.ul_tab.inline .li_tab[data-v-ca29585a] {
  display: inline-flex;
}
.ul_tab.inline .li_tab + .li_tab[data-v-ca29585a] {
  margin-left: 27px;
}
.ul_tab.inline .li_tab[data-v-ca29585a] {
  display: inline-flex;
}

.ul_tab.inline > [data-v-4b28b31a] {
  flex: 0 0 auto;
}

.ul_tab.inline[data-v-4b28b31a]::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

.ul_tab.inline .tab[data-v-09ef6665] {
  padding-top: 15px;
  padding-bottom: 6px;
  display: inline-flex;
  height: 100%;
}
.tab.active[data-v-09ef6665] {
  font-weight: 700;
}
.tab.active[data-v-09ef6665] {
  position: relative;
  color: #222;
  cursor: pointer;
  border-bottom: 2px solid #222;
}

.ul_tab.inline .tab_name[data-v-09ef6665] {
  font-size: 16px;
  line-height: 1.25;
}
.tab_name[data-v-09ef6665] {
  position: relative;
  line-height: 20px;
  background-color: #fff;
}

/* Search Bar */

/* .search-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
} */

.layer_search[data-v-c13ac206] {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.5);
  overflow-y: auto;
}

.layer[data-v-78455e2e] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.5);
  z-index: 1010;
}

.layer_search[data-v-c13ac206] .layer_container {
  border-radius: unset !important;
  width: unset;
  position: unset;
  -webkit-transform: unset;
  transform: unset;
  height: 100%;
  overflow-y: scroll;
}

.layer_container[data-v-78455e2e] {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 448px;
  border-radius: 16px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.btn_layer_close[data-v-78455e2e] {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
}
.layer_search[data-v-c13ac206] .search_container,
.layer_search[data-v-c13ac206] .search_content_wrap,
.layer_search[data-v-c13ac206] .suggest_wrap {
  background-color: #fff;
}

.lg .layer_search[data-v-c13ac206] .search_wrap {
  padding-top: 50px;
}

.lg .layer_search[data-v-c13ac206] .search_content_wrap,
.lg .layer_search[data-v-c13ac206] .search_wrap,
.lg .layer_search[data-v-c13ac206] .suggest_area {
  width: 800px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  overflow: hidden;
}
.layer_search[data-v-c13ac206] .search_wrap {
  display: flex;
}
.layer_search[data-v-c13ac206] .search_wrap .search_area {
  flex: 1;
}
.layer_search .search[data-v-63326639] {
  width: 100%;
  margin: 0;
}

.search[data-v-63326639] {
  width: 500px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0 5px;
  padding-bottom: 16px;
  border-bottom: 3px solid #000;
}

.layer_search .search .input_search[data-v-63326639] {
  width: 770px;
}

.search .input_search[data-v-63326639] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
  color: #000;
  line-height: 29px;
  padding: 0 13px 0 1px;
  width: 468px;
  letter-spacing: -0.015em;
}

.search .btn_search_delete[data-v-63326639] {
  float: right;
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-right: 3px;
}

.lg .layer_search[data-v-c13ac206] .search_content_wrap {
  margin-top: 20px;
}

.layer_search_item.recent_keywords[data-v-50e9c89a] {
  padding-bottom: 32px;
}

.layer_search_item[data-v-50e9c89a] {
  display: block;
  padding-bottom: 40px;
}
.layer_search_title_wrap[data-v-50e9c89a] {
  margin-bottom: 12px;
}

.layer_search_title_wrap .title[data-v-50e9c89a] {
  font-size: 16px;
  font-weight: 700;
}
.layer_search_title_wrap .title_sub_text[data-v-50e9c89a] {
  display: inline;
  margin-left: 5px;
  font-size: 13px;
  color: rgba(34, 34, 34, 0.8);
}

.layer_search[data-v-c13ac206] .search_list {
  margin-top: 4px;
}

.search_list[data-v-7d56e5a2] {
  display: -webkit-box;
}
.search_item .search_item_text[data-v-7d56e5a2] {
  max-width: 144.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  letter-spacing: -0.21px;
  color: rgba(34, 34, 34, 0.8);
  padding-right: 14px;
  display: block;
  letter-spacing: normal;
}

.search_item[data-v-7d56e5a2] {
  position: relative;
  padding: 3px 12px;
  display: inline-block;
  line-height: 25px;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  margin: 0 6px 8px 0;
  cursor: pointer;
}
.search_item .ico_delete[data-v-7d56e5a2] {
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 8px;
}

.search_card_items .layer_search_item[data-v-c13ac206]:last-child {
  padding-bottom: 40px;
}

.layer_search_item.tag[data-v-50e9c89a] {
  padding-bottom: 28px;
}
.layer_search_item[data-v-50e9c89a] {
  display: block;
  padding-bottom: 40px;
}
.search_card_tag_wrap[data-v-23b03d29] {
  line-height: 13px;
}
.search_card_tag[data-v-23b03d29] {
  max-width: 142px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  letter-spacing: -0.21px;
  color: rgba(34, 34, 34, 0.8);
  background: #f4f4f4;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  padding: 8px 12px;
  display: inline-block;
  margin: 0 8px 12px 0;
}

.lg .layer_search[data-v-c13ac206] .suggest_area .suggest_keyword,
.lg .layer_search[data-v-c13ac206] .suggest_area .suggest_title_area {
  padding-left: 0;
  padding-right: 0;
}

.suggest_title_area[data-v-3c42ca29] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  font-size: 15px;
}
.suggest_title_area .title[data-v-3c42ca29] {
  display: flex;
  grid-gap: 2px;
  gap: 2px;
}

.suggest_title_area .title .suggest_title[data-v-3c42ca29] {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 15px;
  color: #222;
}
.error[data-v-3c42ca29] {
  font-size: 15px;
  padding-top: 16px;
  letter-spacing: -0.16px;
  color: rgba(34, 34, 34, 0.8);
}

/* Container */

/* Carousel */

@media screen and (max-width: 1024px) {
  .carousel-container .carousel-slide {
    height: 220px !important;
  }
}

@media screen and (max-width: 1024px) {
  .carousel-container .carousel-slide .carousel-description {
    bottom: 0;
  }
}

@media (min-width: 768px) {
  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.carousel-container {
  display: block;
  overflow: hidden;
  width: 100%;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.carousel .control-dots .dot {
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: none;
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}

.carousel-container .carousel-slide {
  display: flex;
  justify-content: center;
  height: 700px;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}

.carousel-container .carousel-slide:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000001a;
}

.carousel-container .carousel-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Category */

.home_products {
  margin-top: 30px;
  margin-bottom: 56px;
  padding-top: 0;
  padding-bottom: 0;
}

.lg .product_title[data-v-a60468d2] {
  padding-left: 40px;
  padding-right: 40px;
}

.lg .product_title[data-v-a60468d2] {
  padding-left: 40px;
  padding-right: 40px;
}
.product_title[data-v-a60468d2] {
  margin-top: 36px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.product_title .title[data-v-a60468d2] {
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

.shortcut_collection[data-v-1cd9c4dd]:not(:first-child):has(
    .product_title
  ):before {
  content: "";
  max-width: 1200px;
  margin: 28px auto 20px;
  display: block;
  width: 100%;
  height: 1px;
  background: #ebebeb;
}

.product_title .sub_title[data-v-a60468d2] {
  margin-top: 2px;
  font-size: 16px;
  color: rgba(34, 34, 34, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 262px;
}

.lg .product_list_wrap[data-v-7681b766] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

.lg .product_list[data-v-7681b766],
.md .product_list[data-v-7681b766] {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 8px;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  grid-row-gap: 28px;
  row-gap: 28px;
}

.lg .product_list[data-v-7681b766],
.md .product_list[data-v-7681b766] {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 8px;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  grid-row-gap: 28px;
  row-gap: 28px;
}

.product_list > .product_item[data-v-7681b766] {
  padding: 0;
  margin: 0;
  width: 100%;
}
.product_list > .product_item[data-v-7681b766] {
  padding: 0;
  margin: 0;
  width: 100%;
}
.product_item .item_inner[data-v-34d98ac3] {
  display: block;
  background-color: #fff;
  border-radius: 12px;
}
.product_item[data-v-34d98ac3] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 20px 0;
  padding: 0 12px;
  width: 25%;
}
.product[data-v-4309a8a2] {
  overflow: hidden;
  position: relative;
  padding-top: 100%;
  border-radius: 8px;
}

.product_item .info_box[data-v-34d98ac3] {
  padding-top: 9px;
}
.product_img[data-v-4309a8a2] {
  width: 100%;
  height: auto;
}
.product_img[data-v-4309a8a2] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.picture[data-v-1913df4e] {
  display: flex;
  border: none;
}

.brand-text {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  height: 17px;
  line-height: 17px;
  padding-bottom: 2px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

.product_item .name {
  max-height: 44px;
  margin-bottom: 2px;
  line-height: 16px;
  /* max-height: 34px; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 13px;
  color: #222;
}
.product_item .price {
  padding-top: 12px;
}

.product_item .amount {
  font-size: 0;
  line-height: 0;
}

.product_item .num {
  display: inline-block;
  vertical-align: top;
  line-height: 17px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.04px;
}

.btn_product .btn[data-v-7681b766] {
  padding: 0 30px;
  margin-top: 20px;
}

.btn_product .btn[data-v-7681b766] {
  padding: 0 30px;
  margin-top: 20px;
}
.outlinegrey[data-v-43813796] {
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, 0.8);
}
.medium[data-v-43813796] {
  padding: 0 18px;
  height: 42px;
  border-radius: 12px;
  font-size: 14px;
  letter-spacing: -0.14px;
}
.btn[data-v-43813796] {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  color: rgba(34, 34, 34, 0.8);
  background-color: #fff;
}

/* Details */

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  overflow: hidden;
  padding: 30px 40px 120px;
}

.column_bind {
  position: relative;
}

.column {
  width: 50%;
}
.column:first-child {
  float: left;
  padding-right: 3.334%;
}

.column:nth-child(2) {
  position: relative;
  top: 125px;
  float: right;
  padding-left: 3.334%;
}

.column:nth-child(2):before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 1px solid #ebebeb;
}
.detail_main_title .brand {
  display: inline-block;
  vertical-align: top;
  line-height: 19px;
  padding-top: 1px;
  margin-bottom: 9px;
  font-size: 18px;
  letter-spacing: -0.27px;
  font-weight: 800;
  cursor: auto;
  border-bottom: 2px solid #222;
}

.detail_main_title .title {
  margin-bottom: 4px;
  font-size: 18px;
  letter-spacing: -0.09px;
  font-weight: 400;
}

.detail_main_title .description {
  line-height: 17px;
  font-size: 14px;
  letter-spacing: -0.21px;
  letter-spacing: -0.15px;
  color: rgba(34, 34, 34, 0.5);
}
.division_btn_box {
  margin-top: 17px;
  display: flex;
  height: 60px;
}

.division_btn_box .btn_division {
  position: relative;
  display: inline-flex;
  flex: 1;
  align-items: center;
  border-radius: 10px;
  color: #fff;
}

.division_btn_box .title {
  width: 275px;
  text-align: center;
  font-size: 16px;
  letter-spacing: -0.27px;
}

.division_btn_box .wish_list {
  background-color: rgb(145, 145, 145);
}
.division_btn_box .subscribe {
  background-color: rgb(44, 44, 44);
}
.division_btn_box .btn_division + .btn_division {
  margin-left: 10px;
}

/* .wish_list .title {
  position: absolute;
  top: 15px;
  left: 40px;
}
.subscribe .title {
  position: absolute;
  top: 15px;
  left: 45px;
} */

.detail_title {
  padding-bottom: 13px;
  line-height: 22px;
  padding: 40px 0 20px;
  font-size: 18px;
  letter-spacing: -0.27px;
  font-weight: 600;
  letter-spacing: -0.15px;
}
.detail_product_wrap {
  border: 1px solid #ebebeb;
  border-width: 1px 0;
}

.detail_product_wrap .detail_product {
  display: flex;
  min-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.detail_product_wrap .detail_box:first-child {
  padding-left: 0;
}

.detail_product_wrap .detail_box {
  flex: 1;
  padding: 0 12px;
}
.detail_product_wrap .detail_box + .detail_box {
  border-left: 1px solid #ebebeb;
}

.detail_product_wrap .product_title {
  line-height: 14px;
  font-size: 12px;
  letter-spacing: -0.06px;
  letter-spacing: -0.33px;
  color: rgba(34, 34, 34, 0.5);
}

.detail_product_wrap .product_info {
  margin-top: 4px;
  word-break: break-word;
  line-height: 17px;
  font-size: 14px;
}

/* Footer */

.lg .footer[data-v-1fddaed6] {
  left: 0;
  right: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.footer[data-v-1fddaed6] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #ebebeb;
}

.footer .inner[data-v-1fddaed6] {
  position: relative;
}

.service_area[data-v-1fddaed6] {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 56px;
  border-bottom: 1px solid #ebebeb;
}

.service_title[data-v-1fddaed6] {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: -0.16px;
  font-weight: 700;
}

.service_time[data-v-1fddaed6] {
  padding-top: 8px;
}
.service_noti[data-v-1fddaed6] {
  padding-top: 8px;
  font-size: 13px;
  letter-spacing: -0.07px;
}
.service_btn_box[data-v-1fddaed6] {
  padding-top: 17px;
}
.sevice_tel[data-v-1fddaed6] {
  font-weight: 600;
  margin-left: 4px;
  letter-spacing: normal;
}
.time_box[data-v-1fddaed6] {
  line-height: 17px;
}
.time_box[data-v-1fddaed6]:after {
  content: "";
  display: block;
  clear: both;
}
.lg .time_description[data-v-1fddaed6],
.lg .time_term[data-v-1fddaed6] {
  max-width: 263px;
}
.time_term[data-v-1fddaed6] {
  margin-right: 4px;
}
.time_description[data-v-1fddaed6],
.time_term[data-v-1fddaed6] {
  float: left;
  font-size: 13px;
  letter-spacing: -0.07px;
  color: rgba(34, 34, 34, 0.5);
  max-width: 263px;
  line-height: 20px;
}
.service_btn_box .btn[data-v-1fddaed6] {
  border-radius: 0;
  color: #fafafa;
}
.solid[data-v-43813796] {
  font-weight: 700;
  color: #fff;
  background-color: #222;
}
.small[data-v-43813796],
.xsmall[data-v-43813796] {
  font-size: 12px;
  letter-spacing: -0.06px;
}
.small[data-v-43813796] {
  padding: 0 14px;
  height: 34px;
  border-radius: 10px;
}
.btn[data-v-43813796] {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  /* color: rgba(34, 34, 34, 0.8); */
  /* background-color: #fff; */
}
.footer_menu[data-v-1fddaed6] {
  display: flex;
}
.menu_box[data-v-1fddaed6] {
  width: 160px;
}
.menu_title[data-v-1fddaed6] {
  font-size: 16px;
  letter-spacing: -0.16px;
}
.menu_list[data-v-1fddaed6] {
  padding-top: 16px;
}
.menu_item + .menu_item[data-v-1fddaed6] {
  margin-top: 12px;
}
.menu_link[data-v-1fddaed6] {
  display: inline-block;
  font-size: 14px;
  letter-spacing: -0.21px;
  color: rgba(34, 34, 34, 0.5);
}

/* Button */
.btn_top[data-v-695163b8] {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 44px;
  height: 48px;
  padding-top: 4px;
  border-radius: 30px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
